.card {
    widdth:300px;
    border-radius: 10px;
    box-shadow: 0 4 px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: brown;
    font-family: sans-serif;
}

.card img { 
    width: 100%;
    height: auto;
}



.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
}

.card button{
    display: inline-block;
    padding: 10px 15px;
    background-color: blue;
    text-decoration: none;
    border-radius: 5px;

}