body{
font-family: "Libertinus Math", system-ui;

}

header {
   border-bottom: 3px solid #236a4e;
   background-color: #209b72;
   padding: 10px 25px;
   text-align: justify;
}


.corpo-texto{
margin: 50px;
}


/*  Cards */
.card {
   background-color: rgb(241, 245, 245) ;
   border: 4px solid var blueviolet;
   border-radius: 12px;
   overflow: hidden;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   margin-top: 50px;
   text-align: justify;
   font-size: 22px;
  
}


.card:hover {
   transform: translateY(-5px);
   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}








